.visit{
font-size: x-large;
font-weight: 400;
font-family: 'Times New Roman', Times, serif;
}
.info{
    font-size: larger;
    color: rgb(73, 73, 73);
    font-family: 'Times New Roman', Times, serif;
}

.sub-container{
   background-color: aliceblue; 
  padding-top: 50px;
  padding-bottom: 50px;


}