.contact-body{
    height: 1100px;
}

.about2{
    background-color: rgba(33, 125, 153, 0.383);
    width: 75%;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-img img{
    height: 500px;
    margin: 0px;
    padding: 0%;
}
.input2{
    border-radius: 5px;
    width: 500px;
    height: 35px;
    background-color: rgba(128, 128, 128, 0.24);
    border: 1px solid gray;
}


.form-container{
    display: grid;
    grid-template-columns: repeat(2,6fr);
    margin-top: 30px;
   margin-left: 178px;

}
.bg-3{
  background-color: rgba(128, 128, 128, 0.24);
}
.text{
    width:500px;
    margin-top: 5px;
    height: 200px;
}






@media only screen and (max-width:688px){
    .contact-body{
        height: 1700px;
    }
    .form-container{
        grid-template-columns: repeat(1,1fr);
         margin-left: 5px; 
    }
    .form-img img{
        height: 300px;
        width: 300px;
     
    }
    .input2{
        border-radius: 5px;
        width: 300px;
        height: 35px;
        background-color: rgba(128, 128, 128, 0.24);
        border: 1px solid gray;
    }
.bg-3{
    width: 300px;
}
}